
    

.about-heading{
    display: flex;
    font-family: var(--font-family-montserrat);
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    text-transform: capitalize;
    color: white;
    margin-bottom: 2rem;
    text-align: center;
    justify-content: center;
    
}

.about-info{
    display: flex;
    justify-content: center;
    
    font-family: var(--font-family-montserrat);
    font-weight: 100;
    font-size: 20px;
    color: white;
    text-align: center
    
}
.about-info p{
    font-family: var(--font-family-montserrat);
    font-weight: 100;
    font-size: 20px;
    color: white;
    text-align: center
}
.about-info2{
    padding: 1rem;
    
}
.about-bg-logo {
    display: flex;
    justify-content: center;
    position: relative;
    
    
}


.about-bg-halolegion-logo {
    width: 50%;
    
    height: fit-content;
    mix-blend-mode: overlay;
    position:absolute
}



.main-about{
    
    
    display: flex;
    
    
}
.main-about-core{
    padding: 5rem;
    
}
.about-bg-logo {
    display: flex;
    justify-content: center;
    position: relative;
    
    
}


.bg-halolegion-logo {
    width: 216px;
    mix-blend-mode: overlay;
    position:absolute
}
@media screen and (max-width: 1000px) {
    .about-info{
        display: block;
    }
    
    
}

@media screen and (max-width: 450px) {
    .main-about-core{
        padding: 2rem;
        transform: scale(0.8);
    }
    
    
}

@media screen and (max-width: 350px) {
    .main-about-core{
        padding: 0.5rem;
        transform: scale(0.7);
    }
    
    
}

@media screen and (max-width: 300px) {
    .main-about-core{
        padding: 0rem;
    }
    
    
}