.members-main{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem 2rem;
  
  
}
.members-core{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content:center;
  gap: 15px;
  
  
}
.members-cards-row{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}
.members-heading-text{
  font-family: var(--font-family-montserrat);
  font-weight: 600;
  text-align: center;
}
.members-horizontal-card{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  width: 800px;
  height: 250px;
  background-color: var(--member-plaque);
  border-radius: 15px;
}

.members-horizontal-card-left{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  
}
.members-horizontal-card-right{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}
.members-horizontal-card-userimage{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.members-social-icons{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 25px;
}

.members-vertical-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  height: 450px;
  background-color: var(--member-plaque);
  border-radius: 15px;
  padding: 1rem;
}
.members-vertical-card-userimage{
  width: 200px;
  height: 200px;
  border-radius: 50%;
}
.members-verical-card-top{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.members-vertical-card-bottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.members-vertical-name-text{
  font-size: xx-large;
  font-family: var(--font-family-montserrat);
  font-weight: 600;
  text-align: center;
}
.members-vertical-info-text{
  font-size: medium;
}

@media (max-width: 768px) {
  .members-horizontal-card {
    flex-direction: column;
    width: auto;
    height: auto;
    text-align: center;
  }

  .members-horizontal-card-left,
  .members-horizontal-card-right {
    padding: 1rem;
  }

  .members-horizontal-card-userimage {
    width: 150px;
    height: 150px;
  }

  .members-vertical-card {
    width: auto;
    height: auto;
  }

  .members-vertical-card-userimage {
    width: 150px;
    height: 150px;
  }

  .members-verical-card-top {
    margin-bottom: 1rem;
  }
}
