.footer {
    background-color: var(--color-footer);
    display: flex;
    flex-direction: column; /* Ensure a column layout on small screens */
    align-items: center; /* Center align content on small screens */
    padding: 1rem; /* Add some padding for spacing */
}

.top-panel {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0rem 1rem;

    
}
.left-panel-content p{
    line-height: 0;
}

.footer-location-text{
    display: flex;
    
}

.left-panel{
    justify-content: flex-start;
    text-align: left;
    
    
    
    
}

.left-panel-content,.right-panel-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
    
}
.right-panel{
    justify-content: flex-end;
    text-align: right;
    
    

}

.left-panel, .right-panel {
    font-family: var(--font-family-montserrat);
    font-size: larger;
    display: flex;
    color: var(--color-dimgray-200);
    font-weight: 500;
    
    
}

.left-panel img,
.mail-image, .mobile-phone-image, .office-phone-image, .location-image {
    width: fit-content;
    height: 25px;
    margin: 0px 2.5px;
    vertical-align: middle;
}

.right-privacy-panel {
    font-family: var(--font-family-montserrat);
    font-size: medium;
    
    
    
    
    
}

.right-text-1, .right-text-2 {
    margin-bottom: 0.5rem;
}

/* Adjust links on hover and active states */
.footer p a:hover,
.footer p a:active,
.footer p a:focus {
    text-shadow: 0px 0px 10px var(--glow);
    transform: scale(0.97);
    transition: 0.25s;
}

/* Media queries for smaller screens */
@media screen and (max-width: 500px) {
    .left-panel, .right-panel {
        font-size: 16px; /* Reduce font size for smaller screens */
        text-align: center; /* Center align text on small screens */
        margin-bottom: 1rem; /* Add spacing between sections */
    }
    .footer-email-text {
        font-size: 16px;
    }
    .top-panel {
        margin-bottom: 1rem; /* Add spacing between sections */
        flex-direction: column; /* Column layout on small screens */
        align-items: center; /* Center align content on small screens */
        text-align: center; /* Center align text on small screens */
    }
}


@media screen and (max-width: 280px) {
    .footer-email-text {
        display: none; /* Hide email on very small screens */
    }
}
